.footer {
    display: flex;
    flex-wrap: wrap;

    @media ( max-width: @screen-md-max ) {
        display: none;
    }
}

.footer__link {
    display: block;
    font-size: @font-size--medium;
    line-height: 2.4rem;
    color: @color-grey--60;
    margin: 0 2rem 0 0;
    transition: color @trans-fast;

    &:hover {
        color: @color-grey--80;
    }
}
