.page-layout {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.page-layout__header {
    position: relative;
    flex-shrink: 0;
}

.page-layout__main {
    position: relative;
    padding: 0 0 7.2rem 0;
    flex: 1 0 auto;

    &.___no-padding {
        padding: 0;
    }
}
