.page-layout {
    display: flex;
    flex-direction: column;
    height: 100vh;

    body.___leraar:not(.___campagne) & {
        @media (max-width: @screen-xs-max) {
            padding-top: 4.5rem;
        }

        @media (min-width: @screen-sm) {
            padding-top: 6rem;
        }
    }

    body.___no-nav & {
        padding-top: 0 !important; // replace by really removing page-layout when hiding the navigation
    }
}

.page-layout__header {
    flex: 0 0 auto;
    position: relative;

    body.___no-nav & {
        display: none;
    }
}

.page-layout__main {
    flex: 1 1 auto;
    position: relative;
    display: flex;
    flex-direction: column;
}
