@font-face {
    font-family: "icons-webfont";
    src: url('../../fonts/icons-webfont.eot');
    src: url('../../fonts/icons-webfont.eot?#iefix') format('eot'),
        url('../../fonts/icons-webfont.woff2') format('woff2'),
        url('../../fonts/icons-webfont.woff') format('woff'),
        url('../../fonts/icons-webfont.ttf') format('truetype'),
        url('../../fonts/icons-webfont.svg#icons-webfont') format('svg');
}

[class^="icon-"],
[class*=" icon-"],
.icon-base-pseudo {
    display: inline-block;
    vertical-align: middle;
    font-family: "icons-webfont";
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    // speak: none; // only necessary if not using the private unicode range (firstGlyph option)
    text-decoration: none;
    text-transform: none;
    font-size: 1rem;
    line-height: 1;
}

.icon-char(@filename) {
    @angle-down: "\E001";
    @angle-left: "\E002";
    @angle-right: "\E003";
    @arrow-right-circle-transparent: "\E004";
    @arrow-right-circle: "\E005";
    @bookmark-line: "\E006";
    @bookmark: "\E007";
    @camera: "\E008";
    @cat-actualiteit: "\E009";
    @cat-arbeidsvoorwaarden: "\E00A";
    @cat-klas: "\E00B";
    @cat-leren: "\E00C";
    @cat-overig: "\E00D";
    @cat-vernieuwing: "\E00E";
    @cat-wetten-2: "\E00F";
    @cat-wetten: "\E010";
    @check: "\E011";
    @chevron-down: "\E012";
    @comments: "\E013";
    @cross: "\E014";
    @delete: "\E015";
    @envelope: "\E016";
    @external: "\E017";
    @eye: "\E018";
    @heart-fill: "\E019";
    @heart: "\E01A";
    @home: "\E01B";
    @logout: "\E01C";
    @mobile-menu: "\E01D";
    @next: "\E01E";
    @pencil: "\E01F";
    @prev: "\E020";
    @print: "\E021";
    @recommendation: "\E022";
    @school: "\E023";
    @search: "\E024";
    @share: "\E025";
    @social-facebook: "\E026";
    @social-google: "\E027";
    @social-linkedin: "\E028";
    @social-twitter: "\E029";
    @trending: "\E02A";
    @users: "\E02B";
    
    content: @@filename;
}

.icon(@filename, @insert: before) {
    @pseudo-selector: ~":@{insert}";

    &@{pseudo-selector} {
        &:extend(.icon-base-pseudo);
        .icon-char(@filename);
    }
}

//
// Icons
//

.icon-angle-down:before {
    content: "\E001";
}

.icon-angle-left:before {
    content: "\E002";
}

.icon-angle-right:before {
    content: "\E003";
}

.icon-arrow-right-circle-transparent:before {
    content: "\E004";
}

.icon-arrow-right-circle:before {
    content: "\E005";
}

.icon-bookmark-line:before {
    content: "\E006";
}

.icon-bookmark:before {
    content: "\E007";
}

.icon-camera:before {
    content: "\E008";
}

.icon-cat-actualiteit:before {
    content: "\E009";
}

.icon-cat-arbeidsvoorwaarden:before {
    content: "\E00A";
}

.icon-cat-klas:before {
    content: "\E00B";
}

.icon-cat-leren:before {
    content: "\E00C";
}

.icon-cat-overig:before {
    content: "\E00D";
}

.icon-cat-vernieuwing:before {
    content: "\E00E";
}

.icon-cat-wetten-2:before {
    content: "\E00F";
}

.icon-cat-wetten:before {
    content: "\E010";
}

.icon-check:before {
    content: "\E011";
}

.icon-chevron-down:before {
    content: "\E012";
}

.icon-comments:before {
    content: "\E013";
}

.icon-cross:before {
    content: "\E014";
}

.icon-delete:before {
    content: "\E015";
}

.icon-envelope:before {
    content: "\E016";
}

.icon-external:before {
    content: "\E017";
}

.icon-eye:before {
    content: "\E018";
}

.icon-heart-fill:before {
    content: "\E019";
}

.icon-heart:before {
    content: "\E01A";
}

.icon-home:before {
    content: "\E01B";
}

.icon-logout:before {
    content: "\E01C";
}

.icon-mobile-menu:before {
    content: "\E01D";
}

.icon-next:before {
    content: "\E01E";
}

.icon-pencil:before {
    content: "\E01F";
}

.icon-prev:before {
    content: "\E020";
}

.icon-print:before {
    content: "\E021";
}

.icon-recommendation:before {
    content: "\E022";
}

.icon-school:before {
    content: "\E023";
}

.icon-search:before {
    content: "\E024";
}

.icon-share:before {
    content: "\E025";
}

.icon-social-facebook:before {
    content: "\E026";
}

.icon-social-google:before {
    content: "\E027";
}

.icon-social-linkedin:before {
    content: "\E028";
}

.icon-social-twitter:before {
    content: "\E029";
}

.icon-trending:before {
    content: "\E02A";
}

.icon-users:before {
    content: "\E02B";
}

