@import "draft-style";
@import "cropper";

html, body {
    overflow-y: initial;
}

.modal__open {
    overflow: hidden;
}

.navigation__action.___bookmarks {
    display: block;
}

.navigation__action.___account {
    display: block;
}

.public-DraftEditorPlaceholder-root {
    color: @color-grey--60;
    position: absolute;
    z-index: 0;
}

.editor__input {
    min-height: 300px;
}

.form__item.form__item-error  .rich-editor__editor {
    border-color: @color-error;
}

input.___is-hidden {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    cursor: pointer;
    z-index: 1;
}

.selector__options {
    z-index: 2;
}