@import "draft-style";
@import "cropper";

html, body {
    overflow-y: initial;
}

.modal__open {
    overflow: hidden;
}

.navigation__action.___bookmarks {
    display: block;
}

.navigation__action.___account {
    display: block;
}

.public-DraftEditorPlaceholder-root {
    color: @color-grey--60;
    position: absolute;
    z-index: 0;
}

.editor__input {
    min-height: 300px;
}

.form__item.form__item-error  .rich-editor__editor {
    border-color: @color-error;
}

input.___is-hidden {
    position: absolute;
    opacity: 0;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
}

.selector__options {
    z-index: 2;
}

.contextual {
    &.___is-visible {
        visibility: visible;
        opacity: 1;
        transform: translateX(-50%) translateY(0);
    }
}

.editor__image {
    z-index: 1;
}

.profile__editor {
    width: 100%;
}

.profile__textarea {
    width: 100%;
    resize: none;
    min-height: 22rem;
    border: 0;
}

figure {
    margin: 0;
}

.content {
    &.__float-left {
        padding-right: 1rem;
        padding-top: 1rem;
        padding-bottom: 1rem;
    }

    &.__float-right {
        padding-left: 1rem;
        padding-top: 1rem;
        padding-bottom: 1rem;
    }
}

.editor__tool {
    user-select: none;
}

html,
body {
    overflow-y: initial;
}

.messages {
    padding-bottom: 1rem;
    &.error {
        color: @color-error;
    }
}