@import "draft-style";
@import "cropper";

html, body {
    overflow-y: initial;
}

.navigation__action.___bookmarks {
    display: block;
}

.navigation__action.___account {
    display: block;
}

.public-DraftEditorPlaceholder-root {
    color: @color-grey--60;
    position: absolute;
    z-index: 0;
}

.rich-editor__controls {
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.rich-editor__button {
    padding: 1.4rem;
    display: inline-block;
    color: #999;
    cursor: pointer;

    &.___is-active {
        color: black;
        font-weight: bold;
    }
}

.rich-editor__editor {
    cursor: text;
    min-height: 200px;
    padding: 1.4rem 1.4rem;
    border: 0.1rem solid @color-grey--50;
    transition: border-color @trans-fast;

    &.___no-margin {
        margin: 0;
    }

    &:focus {
        border-color: @color-secondary;
    }
}

.form__item.form__item-error  .rich-editor__editor {
    border-color: @color-error;
}