.button {
    position: relative;
    flex-shrink: 0;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: @border-radius-button;
    height: 4rem;
    line-height: 4rem;
    padding: 0 2rem;
    font-weight: bold;
    text-decoration: none;
    white-space: nowrap;
    overflow: hidden;
    background-color: @color-secondary;
    color: @color-white;
    text-shadow: none;
    transition: background-color @trans-fast, color @trans-fast, border-color @trans-fast;
    cursor: pointer;
    user-select: none;
    -webkit-appearance: none;
    -moz-appearance: none;

    &.___is-active,
    &:hover,
    &:active {
        background-color: @color-primary;
    }

    &[disabled] {
        background-color: @color-grey--40;
        color: @color-grey--60;
        cursor: default;
    }

    &.___margin-right {
        margin-right: 2rem;
    }

    &.___margin-bottom {
        margin-bottom: 2rem;
    }

    &.___logout {
        .icon(logout);
        &:before {
            display: none;
        }
    }

    @media ( max-width: @screen-xs-max ) {
        height: 3.6rem;
        line-height: 3.6rem;

        .modal & {
            height: 4rem;
            line-height: 4rem;
        }

        &.___pleio {
            display: none;
        }

        &.___large.___logout {
            display: flex;
            justify-content: center;
            width: 2.6rem;
            height: 2.6rem;
            line-height: 2.6rem;
            padding: 0;
            border-radius: 50%;
            font-size: 2.4rem;
            position: absolute;
            top: 2rem;
            right: 2rem;

            span {
                display: none;
            }

            &:before {
                display: inline-block;
                font-size: 1.2rem;
                line-height: inherit;
            }
        }

        &.___edit-email {
            margin: 2rem 0 0 0;
        }
    }
}

button.button {
    display: inline;
}

// Grey button
.button.___grey {
    background-color: @color-grey--50;

    &:hover,
    &:active {
        background-color: @color-secondary;
    }

    .button:not(.___grey) + &,
    .button:not(.___grey) + * + & {
        &:hover,
        &:active {
            background-color: @color-grey--60;
        }
    }
}

// Full width button
.button.___block {
    display: block;
    width: 100%;
    text-align: center;
}

// Square button
.button.___square {
    width: 4rem;
    padding: 0;

    &:hover {
        background-color: @color-grey--80;
    }

    &.___is-invited {
        background-color: @color-secondary;
    }

    @media ( max-width: @screen-xs-max ) {
        width: 3.6rem;
    }

    &.___large {
        width: 4.6rem;

        @media ( max-width: @screen-xs-max ) {
            width: 4rem;
        }
    }
}

// Full width button (mobile)
.button.___block-mobile {
    @media ( max-width: @screen-xs-max ) {
        display: block;
        width: 100%;
        text-align: center;
    }
}

// Tall button
.button.___large {
    height: 4.6rem;
    line-height: 4.6rem;

    @media ( max-width: @screen-xs-max ) {
        height: 4rem;
        line-height: 4rem;

        .modal & {
            height: 4.6rem;
            line-height: 4.6rem;
        }
    }
}

// Button with @color-primary
.button.___primary {
    background-color: @color-primary;

    &:hover {
        background-color: @color-secondary;
    }
}

// Link button
.button.___link {
    height: auto;
    padding: 0;
    color: @color-grey--80;
    background-color: transparent;
    font-weight: normal;
    border-radius: 0;
    transition: color @trans-fast;

    &:hover,
    &:focus {
        color: @color-secondary;
        border-color: @color-secondary;
        background-color: transparent;
    }
}

.button.___line {
    color: @color-grey--60;
    background-color: white;
    border: 1px solid @color-grey--40;

    &:hover,
    &:focus {
        color: @color-secondary;
        border-color: @color-secondary;
    }
}

.button.___underlined {
    border-bottom: 1px solid @color-grey--80;
}

.button.___add {
    .icon(plus);
    &:before {
        font-size: 0.8rem;
    }

    @media ( max-width: @screen-xs-max ) {
        display: flex;
        justify-content: center;
        width: 2.6rem;
        height: 2.6rem;
        line-height: 2.6rem;
        padding: 0;
        border-radius: 50%;
        font-size: 2.4rem;
        position: absolute;
        top: 2rem;
        right: 2rem;

        span {
            display: none;
        }
    }

    @media ( min-width: @screen-sm ) {
        &:before {
            margin: 0 0.5rem 0 0;
        }
    }
}

.button__share {
    &:extend(.button);
    width: 4rem;
    float: left;
    padding: 0;
    text-align: center;

    &.___twitter {
        background-color: @color-twitter;
        .icon(social-twitter);

        &:before {
            font-size: 1.4rem;
        }
    }
    &.___facebook {
        background-color: @color-facebook;
        .icon(social-facebook);

        &:before {
            font-size: 1.8rem;
        }
    }
    &.___google {
        background-color: @color-google;
        .icon(social-google);

        &:before {
            font-size: 1.4rem;
        }
    }
    &.___linkedin {
        background-color: @color-linkedin;
        .icon(social-linkedin);

        &:before {
            font-size: 1.8rem;
        }
    }
    &.___mail {
        background-color: @color-grey--80;
        .icon(envelope);

        &:before {
            font-size: 1.2rem;
        }
    }
}

.button.___options {
    width: 3.6rem;
    overflow: visible;

    .icon(options);
    &:before {
        font-size: .5rem;
    }

    @media ( min-width: @screen-sm ) {
        display: none;
    }
}

.button__text {
    position: relative;
    display: inline-flex;
    align-items: center;
    height: 4rem;
    cursor: pointer;
    font-weight: bold;
    transition: color @trans-fast;
    user-select: none;

    @media ( max-width: @screen-xs-max ) {
        height: 3.6rem;
    }

    &.___edit-post {
        margin: 0 0 1rem 0;
        padding: 0 1rem;
        font-weight: normal;
        color: @color-grey--60;

        .icon(pencil);
        &:before {
            margin: 0 .8rem .1rem 0;
            font-size: 1.5rem;
        }

        &:hover {
            color: @color-secondary;
        }
    }
}

.button__underline {
    position: relative;
    display: inline-flex;
    align-items: center;
    height: 4rem;
    color: @color-grey--80;
    cursor: pointer;
    transition: color @trans-fast;
    user-select: none;

    &:after {
        content: '';
        position: absolute;
        height: 1px;
        background-color: @color-grey--60;
        left: 0;
        right: 0;
        bottom: 0.7rem;
        transition: background-color @trans-fast;
    }

    &:hover {
        color: @color-black;

        &:after {
            background-color: @color-grey--80;
        }
    }

    @media ( max-width: @screen-xs-max ) {
        height: 3.6rem;

        .form & {
            height: 4rem;
        }
    }
}