.card {
    position: relative;
    width: 100%;
    margin-bottom: 2rem;
    background-color: @color-white;
    box-shadow: @box-shadow;

    @media (max-width: @screen-xs-max) {
        padding: 2rem;
    }

    @media (min-width: @screen-sm) {
        padding: 3rem;
    }
}