.count-bookmarks {
    padding: 0 0 0 3rem;
    color: @color-grey--80;
    font-weight: normal;

    .icon(bookmark-line);
    .icon(bookmark, after);

    @media ( max-width: @screen-xs-max ) {
        padding: 0 0 0 2.8rem;
    }

    &:before,
    &:after {
        position: absolute;
        width: 2.2rem;
        left: 0;
        top: 0.8rem;
        font-size: 2.2rem;
        display: flex;
        justify-content: center;
        transition: opacity @trans-fast, color @trans-fast;

        @media ( max-width: @screen-xs-max ) {
            top: 0.7rem;
            font-size: 2rem;
        }
    }

    &:before {
        color: @color-grey--60;
    }

    &:after {
        color: @color-grey--60;
        opacity: 0;
    }

    &:hover {
        &:before {
            opacity: 0;
        }

        &:after {
            opacity: 1;
        }
    }

    span {
        white-space: nowrap;
        transition: opacity @trans-fast;

        &.___save {
            opacity: 1;

            @media ( max-width: @screen-xs-max ) {
                display: none;
            }
        }

        &.___saved {
            position: absolute;
            left: 3rem;
            opacity: 0;

            @media ( max-width: @screen-xs-max ) {
                display: none;
            }
        }
    }

    &.___is-saved {
        &:before {
            opacity: 0;
        }

        &:after {
            color: @color-secondary;
            opacity: 1;
        }

        .___save {
            opacity: 0;
        }

        .___saved {
            opacity: 1;
        }
    }
}
