.modal {
    visibility: hidden;
    opacity: 0;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow-y: auto;
    overflow-x: hidden;
    z-index: 4;
    transition: visibility @trans-normal, opacity @trans-normal;

    p {
        &.___blue {
            margin: 0 0 3rem 0;
            .font(medium);
        }
    }

    @media ( max-width: @screen-xs-max ) {
        background: @color-white;
    }

    &.___is-open {
        visibility: visible;
        opacity: 1;
    }

    &.___full {
        background-color: @color-white;
    }
}

.modal__wrapper {
    @media ( min-width: @screen-sm ) {
        display: flex;
        align-items: flex-start;
        position: relative;
        min-height: 100%;
        padding: 16rem 0 4rem 0;
    }
}

.modal__background {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin-top: auto;
    background-color: rgba(0, 0, 0, 0.15);
    cursor: pointer;

    .___blue & {
        background-color: fade(@color-primary, 90%);
    }

    @media ( max-width: @screen-xs-max ) {
        display: none;
    }
}

.modal__box {
    position: relative;
    max-width: 72.8rem;
    width: 100%;
    min-height: 100%;
    margin: 0 auto;
    padding: 7rem 2rem 4rem 2rem;
    background-color: @color-white;

    .___small & {
        max-width: 40rem;
    }
    .___full & {
        max-width: 100%;
        padding: 0 0 4rem 0;
        background-color: none;
        box-shadow: none;
    }

    @media ( max-width: @screen-xs-max ) {
        max-width: 100%;

        .___small & {
            max-width: 100%;
        }
    }

    @media ( min-width: @screen-sm ) {
        padding: 4rem;
        box-shadow: @box-shadow;
        z-index: 1;

        .___full & {
            padding: 0 0 4rem 0;
        }
    }
}

.modal__close {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    padding: 2rem;
    color: @color-grey--60;
    border-radius: 50%;
    overflow: hidden;
    transition: color @trans-fast;
    cursor: pointer;
    z-index: 1;

    .paper-ripple {
        color: @color-grey--50;
    }

    &:hover,
    &:focus {
        color: @color-secondary;
    }

    .icon(cross);
    &:before {
        font-size: 1.4rem;
    }

    .___small & {
        top: 0.7rem;
        right: 0.7rem;
    }

    .___blue & {
        // position: fixed;
        top: 0;
        right: 0;
        padding: 2.1rem;
        color: @color-white;

        &:before {
            font-size: 1.8rem;
        }

        &:hover,
        &:focus {
            color: @color-secondary--light;
        }
    }

    @media ( max-width: @screen-xs-max ) {
        right: 0;
        top: 0;

        &:before {
            font-size: 1.2rem;
        }

        .___small & {
            top: 0;
            right: 0;
        }

        .___blue & {
            padding: 2rem;
            color: @color-grey--60;

            &:before {
                font-size: 1.2rem;
            }

            &:hover,
            &:focus {
                color: @color-secondary;
            }
        }
    }

    @media (min-width: @screen-sm) {
        right: 2rem;
        top: 2rem;

        .___full & {
            right: 0;
            top: 2rem;
        }
    }
}

.modal__title {
    .font(title-large);
    margin: 0 0 3rem 0;
    color: @color-secondary;

    span {
        font-weight: normal;
    }

    .___full & {
        margin: 7rem 0 1rem 0;
    }

    @media (min-width: @screen-sm) {
        .___full & {
            margin: 3rem 0;
        }
    }
}

.modal__wrapper {
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    flex-shrink: 0;
    transition: transform @trans-material-normal;
    transform: translate(0, 0);

    &[data-modal-slides="2"] {
        width: 200%;

        &.___slide-2 {
            transform: translateX(-50%);
        }
    }

    &[data-modal-slides="3"] {
        width: 300%;

        &.___slide-2 {
            transform: translateX(100% / -3);
            transform: translateX(~"calc(100% / -3)");
        }
        &.___slide-3 {
            transform: translateX(100% / -3 * 2);
            transform: translateX(~"calc(100% / -3 * 2)");
        }
    }

    @media ( min-width: @screen-sm ) {
        position: relative;
        min-height: 100%;
        padding: 16rem 0 4rem 0;
    }
}

.modal__slide {
}
