.people {
    display: flex;
    justify-content: center;
    cursor: pointer;

    @media (max-width: @screen-xs-max) {
        .card-event & {
            display: none;
        }
    }

    > * {
        flex: 0 0 auto;

        &:not(:first-child) {
            margin-left: -.8rem;
        }
    }
}

.people__more {
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    overflow: hidden;
    background-color: @color-secondary--light;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    padding-top: .1rem;
    padding-right: .2rem;
}