.toolbar {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: white;
    transform: translateY(100%);
    transition: transform @trans-material-normal, box-shadow @trans-normal;
    z-index: 11;

    &.___blue {
        background-color: @c-secondary;
        color: white;
    }

    @media ( max-width: 380px ) {
        .button.___link {
            display: none;
        }
    }

    @media ( max-width: @screen-sm-max ) {
        padding: 1.5rem 2.5rem;

        .button {
            &.___move,
            &.___edit,
            &.___download {
                width: 3.6rem;

                &:before {
                    margin-left: auto;
                    margin-right: auto;
                }

                span {
                    display: none;
                }
            }
        }
    }

    @media ( min-width: @screen-md ) {
        padding: 2rem 3rem;

        strong {
            padding: 0 1rem;
        }
    }

    &.___is-visible {
        transform: translateY(0);
        box-shadow: @box-shadow-overlay;
    }

}