.forum__header {
    padding: 3rem 4rem 4rem;
    background-color: @color-tertiary--lighter;
    color: @color-black;
    text-align: left;
    text-shadow: none;

    .main__title {
        margin-bottom: 2rem;
        line-height: 3.4rem;
    }

    @media ( max-width: @screen-xs-max ) {
        margin-left: -2rem;
        margin-right: -2rem;
        padding: 2rem;

        .main__title {
            margin-bottom: 1rem;
        }
    }

    @media ( min-width: @screen-sm ) {
        margin-top: 10rem;
    }
}

.forum__search {
    width: 100%;

    @media ( min-width: @screen-sm ) {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
    }
}

.forum__search-top {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.forum__search-form {
    position: relative;
    flex-grow: 1;
}

.forum__search-separate {
    padding: 0 2rem;
    color: @color-grey--60;

    @media ( max-width: @screen-xs-max ) {
        display: none;
    }
}

.forum__ask-a-question {
    .icon(plus);
    &:before {
        margin: 0 0.5rem 0.1rem 0;
        font-size: 0.8rem;
    }

    @media ( max-width: @screen-xs-max ) {
        display: block;
        margin: 1rem 0 0 0;
        text-align: center;
    }
}
