// Search styles in navigation bar
.navigation__search {
  float: right;
  padding: 0 2rem;
  color: @color-black;
  text-decoration: none;
  line-height: 4rem;
  transition: background-color @trans-fast;

  &:hover {
    background-color: red;
  }

  &.___is-active {
    background-color: @color-secondary;
  }

  .icon(search);

  &:before {
    position: relative;
    top: -0.1rem;
    /* icon height */
    font-size: 1.2rem;
  }

  span {
    display: none;
    line-height: normal;
    font-weight: bold;
    margin: 0 0 0 0.4rem;
  }

  @media (min-width: @screen-sm) {
    span {
      display: inline;
    }
  }

  @media (min-width: @screen-lg) {
    line-height: 4.5rem;
  }
}

.navigation-search {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  line-height: 4.5rem;
  background-color: @color-tertiary--light;
  z-index: 1;
  opacity: 0;
  visibility: hidden;
  transition: visibility 0.3s ease, opacity 0.3s;

  label { display: none; }

  .container {
    display: flex;
  }

  body.navigation-search-open & {
    opacity: 1;
    visibility: visible;
  }

  @media (min-width: @screen-sm) {
    line-height: 6rem;
  }
}

.navigation-search__icon {
  .icon(search);
    padding: 0 0 0 2rem;

  &:before {
    /* icon height */
    font-size: 1.6rem;
    color: @color-primary;
  }
    @media (max-width: @screen-md-max) {
        padding: 0;
    }
    @media (min-width: @screen-sm) {
        &:before {
            font-size: 2rem;
        }
    }
}

.navigation-search__input {
    flex-grow: 1;
    height: 4.5rem;
    left: 0;
    padding: 0 0 0 1rem;
    border: none;
    background-color: transparent;
    color: @color-primary;
    font-weight: bold;
    width: 17rem;

  @media (min-width: @screen-sm) {
    height: 6rem;
    font-size: 2.2rem;
    line-height: 2.2rem;
  }

}

.navigation-search__close {
    display: block;
    padding: 0 0 0 2rem;
    color: @color-primary;
    font-weight: bold;
    text-decoration: none;
    transition: color @trans-fast;
    font-size: 0;
    cursor: pointer;

    &:hover {
        color: @color-tertiary;
    }

    .icon(cross);
    &:before {
        font-size: 1.4rem;
        display: inline-block;
        vertical-align: middle;
        font-family: "icons-webfont";
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        font-style: normal;
        font-variant: normal;
        font-weight: normal;
        text-decoration: none;
        text-transform: none;
        line-height: 1;
        color: @color-primary;
    }

    @media (min-width: @screen-sm) {
        padding: 0 2rem;
        font-size: inherit;
        &:before {
            font-size: 0;
        }
    }
}

.mobile-navigation__actions .navigation-search {
    margin-left:-1rem;
    margin-right: -1rem;
}
